.MealDetail {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    background-color: white;
}

.MealDetail > div {
    height: 85vh;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.MealDetail .dishName {
    font-size: 2rem;
    color: rgb(37, 72, 0);
}

.MealDetail .dishTypes-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.MealDetail .dishTypes {
    border: 2px solid rgb(195, 220, 156);
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.85rem;
    margin: 5px 10px;
    cursor: pointer;
    color: rgb(98, 138, 38);
}

.MealDetail .dishTypes:hover {
    font-weight: bold;
}

.MealDetail .left-div {
    border-right: 2px solid black;
    display: grid;
    grid-row-gap: 20px;
}


.MealDetail .img-div {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.MealDetail .img-div img {
    width: 70%;
}

.MealDetail .labelSpan {
    font-weight: 600;
}

.MealDetail .ingreds-parent {
    display: flex;
    flex-wrap: wrap;
}

.MealDetail .ingredient {
    padding: 0px 10px;
    margin-bottom: 20px;

}

.MealDetail .ingredient-index {
    font-weight: bold;
    margin-right: 20px;
}

.MealDetail .right-div {
    display: flex;
    flex-direction: column;
}