.MealDetail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.MealDetail .dishTypes-parent {
    display: flex;
    flex-wrap: wrap;
}

.MealDetail .dishTypes {
    border: 1px solid grey;
    padding: 10px;
    border-radius: 15px;
    font-size: 0.9rem;
    margin: 5px 10px;
}

.MealDetail .left-div {
    border-right: 2px solid black;
}

.MealDetail .right-div {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.MealDetail .right-div img{
    width: 80%;
}

.MealDetail .labelSpan {
    font-weight: 600;
    color:rgb(130, 36, 36)
}

.MealDetail .ingreds-parent {
    display: flex;
    flex-wrap: wrap;
}

.MealDetail .ingredient {
    border-right: 2px solid grey;
    padding: 0px 10px;
    margin-bottom: 20px;

}