.SearchBar {
    width: 100%;
}

.SearchBar .removeBtn {
    position: relative;
    bottom: 15px;
    left: 5px;
    cursor: pointer;
}

.SearchBar .removeBtn:hover {
    color: red;
}

.SearchBar .searchInput-parent input {
    height: 30px;
    width: 60%;
    font-size: 1.1rem;
    margin-right: 20px;
}

.SearchBar .searchInput-parent button {
    border-radius: 10px;
    border: 0px;
    padding: 10px 20px;
    text-align: center;
    width: fit-content;
    font-weight: bold;
    cursor: pointer;;
}


.SearchBar .searchInput-parent {
    display: block;
    width: 50%;
    margin: 10px auto;
    margin-bottom: 20px;
}

.SearchBar .searchBtn {
    margin: 0 auto;
    margin-top: 30px;
}