.SearchResult {
    min-height: 300px;
}

.SearchResult .resultSet{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.SearchResult .resultCardHolder{
    display: inline-block;
    cursor: pointer;
    width: 50%;
}

.SearchResult .resultCardHolder img{
    display: block;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.SearchResult .resultCardHolder span{
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}