.SearchResult .resultSet{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.SearchResult .resultCardHolder{
    display: inline-block;
    cursor: pointer;
}

.SearchResult .resultCardHolder img{
    display: block;
    width: 350px;
    margin: 0 auto;
}

.SearchResult .resultCardHolder span{
    font-weight: bold;
    display: block;
    width: 350px;
    text-align: center;
    margin: 0 auto;
}