.Navigator {
    /* border-bottom: 2px solid greenyellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 50px;
    padding: 10px 35px;
    -webkit-box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.6);
    color: rgb(123, 94, 48);
    font-weight: bold;
}

.Navigator div {
    display: inline-block;
}


.Navigator .nav-btn {
    color: rgb(123, 94, 48);
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
}

.Navigator .nav-btn:hover,.Navigator .active  {
    color: rgb(143, 175, 105);
    font-weight: bold;
    border-bottom: 2px solid rgb(143, 175, 105);
}

@media only screen and (max-width: 630px) {
    .backBtn {
        display: none !important;
    }
}

@media only screen and (max-width: 520px) {
    .pageLogo {
        font-size: 0.9rem;
    }

    .Navigator {
        padding: 10px 25px;
    }

    .Navigator .nav-btn {
        font-size: 0.8rem;
        padding: 10px 10px;
    }
}

@media only screen and (max-width: 370px) {
    .Navigator {
        flex-direction: column;
    }

    .Navigator .nav-btn {
        margin: 0px;
    }
}