.Navigator {
    /* border-bottom: 2px solid greenyellow; */
    display: flex;
    justify-content:  space-between;
    align-items: center;
    align-content: center;
    height: 50px;
    padding: 10px 35px;
    -webkit-box-shadow: 0px 1px 4px 0px grey;
    -moz-box-shadow: 0px 1px 4px 0px grey;
    box-shadow: 0px 1px 4px 0px grey;
}

.Navigator div {
    display: inline-block;
}

.Navigator .back-btn {
    background-color: greenyellow;
    font-weight: bold;
    border-radius: 50px !important;
}

.Navigator .nav-btn {
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 7%;
}

.Navigator .nav-btn:hover {
    color: rgb(143, 175, 105);
    font-weight: bold;
}