.App {
    font-family: 'Golos Text', sans-serif;
    overflow-y: hidden;
}

.font-green {
    color:rgb(24, 97, 6);
}

.bodyDiv {
    min-height: calc(100vh - 60px);
    box-sizing: border-box;
    padding: 20px 40px;
    background-image: url("../image/natural-wooden-background.jpg");
}

a {
    color:black;
    font-weight: 600;
}

a:hover {
    color:rgb(93, 202, 166);
}

.btn {
    background-color: rgb(205, 255, 131);
    font-weight: bold;
    border-radius: 50px !important;
    width:fit-content;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 7%;
}

.btn:hover {
    color: rgb(143, 175, 105);
}

.hideScrollBar {
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hideScrollBar::-webkit-scrollbar {
    display: none;
  }