.App {
    font-family: 'Golos Text', sans-serif;
    overflow-y: hidden;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 40px;
}

h3 {
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 30px;
}

.pageContainer {
    display: block;
    box-sizing: border-box;
    min-height: 85vh;
    background-color: rgb(255, 255, 255);
    /* -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); */
    padding: 20px;
    border-radius: 10px;
}

.pageLogo {
    font-size: 1.25rem;
}

.pageLogo>.pageLogo-mid {
    color: rgb(226, 96, 9);
}

.font-green {
    color: rgb(24, 97, 6);
}

.bodyDiv {
    min-height: calc(100vh - 60px);
    box-sizing: border-box;
    padding: 20px 40px;
    background-image: url("../image/natural-wooden-background.jpg");
}

a {
    color: black;
    font-weight: 600;
}

a:hover {
    color: rgb(93, 202, 166);
}

.btn {
    background-color: rgb(226, 96, 9);
    font-weight: bold;
    border-radius: 50px !important;
    width: fit-content;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
    color: white;
    border-radius: 7%;
}

.btn:hover {
    background-color: rgb(143, 175, 105);
}

.hideScrollBar {
    overflow: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hideScrollBar::-webkit-scrollbar {
    display: none;
}


@media only screen and (max-width: 630px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 520px) {
    .bodyDiv {
        padding: 20px 10px;
    }
}